footer {
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}
.footerc {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footerc__social {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}
/* .container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
} */
#icon3,
#icon4 {
  margin: 0 10px;
}
