#hero {
  background-color: var(--color-light);
  height: 100vh;
  padding-top: 120px;
}
#hero p {
  line-height: 1.8;
}
#hero .container #desc p {
  font-weight: var(--font-weight-normal);
  line-height: 1.8;
  font-size: 18px;
  color: #555;
  font-family: Mulish, sans-serif;
  padding-top: calc(var(--padding-primary) / 8); /* 10px*/
}
#hero .container #desc h1 {
  color: #2d2e32;
  margin: 20px 0px;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
}
#icon1,
#icon2 {
  color: #2d2e32;
  text-decoration: none;
  width: 35px;
  transition: all 0.23s;
  margin-right: 10px;
}
a {
  text-decoration: none;
}

#skills {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  padding-top: var(--distance-primary-xll);
}
#skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
#skills ul li {
  cursor: pointer;
}
#skills svg {
  height: 50px;
  width: fit-content;
  cursor: pointer;
  margin: 20px;
}
#skills #title-logos {
  font-weight: 800;
  font-size: 1.1rem;
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  text-align: center;
  margin: 0px 30px 0 0;
  letter-spacing: 1.8px;
  padding-right: 20px;
}
svg {
  transition: 0.3s;
}
svg:hover {
  transform: scale(1.1);
}

#hero .container #desc h1 {
  font-size: 55px; /*40px*/
}
#hero .container #desc p {
  font-size: var(--font-size-m);
  padding-bottom: 30px;
}
#my-pic {
  width: 14rem;
  height: 14rem;
  margin: 0;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
#two-contact-box {
  padding: 80px 0;
}
#my-pic {
  animation: animate 8s ease-in-out infinite;
  transition: all 1s ease-in-out;
  border: 3px solid #2d2e32;
  background-size: cover;
  background-position: 50%;
  background-image: url("../img/mypic\ -\ Copy.jpg");
  width: 100%;
  height: auto;
  height: 20rem;
  width: 20rem;

  @media (max-width: 767px) {
    height: 15rem;
    width: 15rem;
  }
}
@media (max-width: 290px) {
  #my-pic {
    width: 14rem;
    height: 14rem;
    background-image: url("../img/back.jpg");
  }
  #hero .container #desc h1 {
    font-size: 34px;
  }
  #hero .container #desc p {
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  #skills {
    padding-top: 50px;
  }
  #skills svg {
    margin: 6px;

    height: 40px;
  }
  #about #about-text h4 {
    font-size: 16px;
  }
  #icon1,
  #icon2 {
    width: 35px;
    margin: 8px;
  }
  div#about-text {
    padding-top: 12px;
  }
}
@media (min-width: 290px) and (max-width: 375px) {
  #my-pic {
    width: 16rem;
    height: 16rem;
    background-image: url("../img/back.jpg");
  }
  #hero {
    padding-top: 90px;
  }
  #hero .container #desc h1 {
    font-size: calc(var(--distance-primary-xl));
    margin-top: 40px;
  }
  .row > * {
    padding-left: 0;
    padding-right: 0;
  }
  #hero .container #desc p {
    font-size: calc(var(--font-size-m));
    padding-bottom: 0;
  }
  #about {
    padding-top: 195px;
  }
  #skills svg {
    margin: 8px;
  }
}

@media (min-width: 375px) and (max-width: 540px) {
  #hero {
    padding-top: 90px;
    padding-bottom: 900px;
  }

  #my-pic {
    width: 16.5rem;
    height: 16.5rem;
    background-image: url("../img/back.jpg");
  }

  #hero .container #desc h1 {
    font-size: calc(var(--distance-primary-xl));
    margin-top: 30px;
  }
  #skills svg {
    margin: 6px;
  }

  #skills #title-logos {
    padding-right: 0;
    padding-bottom: 10px;
    border-right: 0;
    border-right: none;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    margin: 20px;
  }

  #hero .container #desc p {
    padding-bottom: 20px;
    font-size: calc(var(--font-size-m));
    font-weight: 600;
  }

  #icon1,
  #icon2 {
    margin: 0px 5px;
  }
}
@media (max-width: 767px) {
  #my-pic {
    background-image: url("../img/back.jpg");
  }
  #hero {
    padding-top: 120px;
    padding-bottom: 800px;
  }
  #about {
    padding-top: 195px;
  }
  #skills {
    display: flex;
    flex-direction: column;
  }
  #skills #title-logos {
    padding-right: 0;
    padding-bottom: 10px;
    border-right: 0;
    border-right: none;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    margin: 20px;
  }
}
@media (min-width: 767px) and (max-width: 900px) {
  .col-md-6 {
    flex: none;
    width: 100%;
  }
  #my-pic {
    background-image: url("../img/back.jpg");
  }

  .col-md-6,
  .col-lg-6 {
    flex: none;
    width: 100%;
    order: 2;
  }
  .col-md-6 {
    width: 100%;
  }
  #about {
    padding-top: 350px;
    padding-bottom: 400px;
  }
  #skills {
    flex-direction: column;
    padding: 0;
    position: static;
  }
  #skills #title-logos {
    padding-bottom: 10px;
    border-right: none;
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    letter-spacing: 2px;
    padding-top: 50px;
    padding-right: 0;
    margin: 30px 0;
  }
  #hero {
    padding-top: 160px;
  }
}

@media (min-width: 900px) and (max-width: 1020px) {
  #skills {
    flex-direction: row;
  }
  #my-pic {
    background-image: url("../img/back.jpg");
  }

  #skills svg {
    margin: 10px 30px;
  }
  #hero .container #desc p {
    padding-top: 8px;
    font-size: 19px;
    font-weight: 500;
  }
  #hero .container #desc h1 {
    color: #2d2e32;
    font-size: 55px;
    line-height: 1.2;
    margin-top: 40px;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  #hero {
    padding-top: 180px;
    padding-left: 30px;
  }
  #my-pic {
    background-image: url("../img/back.jpg");
  }

  #my-pic {
    position: relative;
    right: 55px;
    bottom: 30px;
    width: 333px;
    height: 350px;
  }
}

@media (min-width: 991px) and (max-width: 1020px) {
  #hero .container #desc h1 {
    font-size: 40px;
  }
  #hero .container #desc p {
    font-size: 17px;
  }
  #my-pic {
    width: 14rem;
    height: 14rem;
    margin: 0;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    text-align: start;
    padding: 0;
  }
}

@media (min-width: 901px) and (max-width: 990px) {
  #desc {
    text-align: start;
    padding: 0;
  }
  #my-pic {
    background-image: url("../img/back.jpg");
  }
  #skills {
    padding: 0;
    margin-top: 100px;
  }
  #skills svg {
    margin: 5px 15px;
  }

  #my-pic {
    position: relative;
    right: -26px;
    height: 17rem;
    width: 17rem;
    bottom: -17px;
  }
  #hero {
    padding-top: 140px;
  }
  #hero .container #desc p {
    padding-bottom: 30px;
    margin: 0;
  }
  #hero .container #desc h1 {
    font-size: 48px;
  }
}

@media (min-width: 991px) {
  #hero {
    padding-top: 180px;
  }
  #my-pic {
    background-image: url("../img/back.jpg");
  }
  #skills svg {
    margin: 10px 16px;
  }
  #skills #title-logos {
    padding-right: 20px;
  }
  #hero .container #desc p {
    font-weight: 500;
  }
  #skills {
    padding-top: 35px;
  }
}
