#about {
  height: 100%;
  width: 100%;
}
#about-img {
  border-radius: 15px;
  height: 350px;
  width: 100%;
}
#about #about-text h3 {
  color: #147efb;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
#about #about-text h4 {
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 2rem;
}
#about #about-text p {
  font-weight: 500;
  line-height: 1.8;
  font-size: 18px;
  color: #555;
  font-family: Mulish, sans-serif;
  padding-top: 10px;
}
#about #about-text p {
  font-size: 17px;
}
@media (max-width: 290px) {
  #about #about-text h4 {
    font-size: 17px;
  }
  #about #about-text p {
    font-size: 15px;
  }
}
@media (max-width: 540px) {
  #about {
    padding-top: 160px;
  }
  #about-img {
    height: 80%;
    width: 85%;
  }
  #about #about-text p {
    padding: 0 20px;
  }
  #about #about-text p {
    padding: 0px 20px;
    line-height: 1.5;
    font-weight: 500;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  .col-md-6 {
    width: auto;
  }
  #about #about-text h4 {
    font-size: 25px;
  }
  #about {
    padding-top: 510px;
  }
}

@media (min-width: 900px) and (max-width: 1020px) {
  div#column {
    display: flex;
    flex-direction: column;
  }
  div#img-contain {
    flex: 0 0 auto;
    width: 65%;
  }
  #about {
    padding-top: 140px;
  }
}
@media (min-width: 992px) {
  div#about-text {
    padding-top: 75px;
  }
  #about {
    padding-top: 70px;
  }
}
